@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Antares";
  src: url("./fonts/font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  background-color: black;
  color: white;
  font-weight: 700;
  font-family: 'Antares', fallback, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.antares {
  font-family: 'Antares', fallback, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


